:root {
  --thumbnail-size: 90px;
}

.character-list-item {
  background-color: #00264D;
  margin: 2px;
}

.list-group-item-action:hover{
  background:#02386E;
}

.list-group {
  border-radius: 10px;
}

.thumbnail {
  -ms-flex: 0 0 95px; flex: 0 0 95px;
}

.rounded-sm {
  border-radius: 10px;
}

.rounded-md {
  border-radius: 15px;
}

small {
  color: #5dc6e3;
}

h1 {
  color: #5dc6e3;
}
h4 {
  color: #5dc6e3;
}
